<div id="app">
  <p>
    <mat-toolbar color="primary">
      <span>Account Balance Viewer</span>
      <mat-nav-list class="list-horizontal">
        <mat-list-item>
          <a [routerLink]="['/home']">Home</a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/reports']">Reports</a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/reports/add']">Add Reports</a>
        </mat-list-item>
      </mat-nav-list>
      <span class="example-spacer"></span>

      <mat-nav-list class="list-horizontal">
        <mat-list-item>
          {{getUserName()}}
        </mat-list-item>
        <mat-list-item>
          <a href (click)="logout()">Log Out</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-toolbar>
  </p>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>